*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fefefe;
  --text-color: #171717;

  --blue-color: #3b82f6;
  --hover-blue-color: #2056cc;

  --orange-color: rgb(242, 169, 35);
  --green-color: #10b981;

  --light-gray-color: #fafafa;

  --gray-color: #e6e7eb;
  --hover-gray-color: #d1d3d9;

  --dark-gray-color: #7d7d7d;
}

html {
  background-color: var(--background);
  color: var(--text-color);
}

body {
  margin: 0;
  font-family:
    'Nunito',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
}

#app {
  height: 100vh;
}
